.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    ;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.closeModalX {
  color: rgba(255, 203, 82, 0.671);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  font-size: 25px;
  cursor: pointer;
}

.backdropColor {
  background-color: rgba(0, 0, 0, 1);
}

.backdropColor-light {
  background-color: rgba(0, 0, 0, 0);
}

.infoBackgroundColor {
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 100%);
}

.hide {
  visibility: hidden;
}

.roverCard {
  background-color: #f3f3f344 !important;
  width: 45%;
  position: center;
  margin: 20px auto;
  padding: 5px 10px;
}

.width-100 {
  width: 100%;
}

.width-250px {
  width: 250px;
}

.description {
  color: rgba(255, 255, 255, 0.6);
}

.infoColor {
  color: white;
}

.inline {
  display: inline;
}

.dateIconSelectedDate {
  color: rgb(0, 173, 0);
}

.clearDate {
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
  top: -3px;
  left: 1px;
  position: relative;
}

.dateIconSize {
  font-size: 23px !important;
}

.dateInfo {
  position: relative;
   top: -1px; 
}